:root {
  // * Colors
  // ! Don't forget to modify tailwind.config.js

  --primary: #463dff;
  --secondary: #ff3e89;
  --white: #fff;
  --black: #111111;
  --buttonColor: #ffb106;
  --lineColor: #888888;
  --textSecondary: #5AC1ED;
}
